<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Video Audio Sync</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
      html {
        background-color: white;
        color: black;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-size: 16px;
        line-height: 1.2;
      }

      .Loader {
        position: fixed;
        top: 10%;
        left: 50%;
        width: 20em;
        margin-left: -10em;
        text-align: center;
        font-size: 2em;
      }

      @supports (transform: translateY(-50%)) {
        .Loader {
          top: 50%;
          transform: translateY(-50%);
        }
      }

      .Loader-spinner {
        margin: 0;
        font-size: 10em;
        line-height: 1;
      }

      .Loader-message {
        margin: 0;
        margin-top: 1em;
      }

      .Loader-spinner {
        opacity: 0;
        animation:
          Loading-fadeIn 800ms 200ms forwards,
          Loading-pulsate 800ms infinite ease-out;
      }

      .Loader-message {
        opacity: 0;
        animation: Loading-fadeIn 400ms 5s forwards;
      }

      @keyframes Loading-fadeIn {
        to {
          opacity: 1;
        }
      }

      @keyframes Loading-pulsate {
        10% {
          transform: scale(1);
        }

        70% {
          transform: scale(1.1);
        }
      }
    </style>
  </head>
  <body>
    <div id="app"></div>
    <div id="loader" class="Loader">
      <p class="Loader-spinner">
        📹
      </p>
      <p class="Loader-message">
        Loading seems to have taken a while. Either it’s just slow, or
        something’s not working!
      </p>
    </div>
  </body>
</html>
