.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Layout-videoWrapper {
  display: flex;
  position: relative;
  flex: 1;
  background-color: black;
}

.Layout-videoWrapper video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Layout-controls {
  padding: var(--spacing);
}

.Layout-controls > * + * {
  margin-top: var(--spacing);
}
