@import "~font-awesome/css/font-awesome.css";

html {
  font: menu;
  font-size: 16px;
}

body {
  margin: 0;
}

.VideoWrapper {
  background-color: black;
}

video {
  display: block;
  margin: auto;
}

svg {
  overflow: visible;
  display: block;
}

line {
  stroke: #eee;
}
