@import "~font-awesome/css/font-awesome.css";

html {
  font: menu;
  font-size: 16px;
}

body {
  margin: 0;
}

video {
  display: block;
  margin: auto;
}

button {
  margin: 0;
  padding: 6px 10px;
  border: none;
  border-radius: 0;
  background: none;
  cursor: pointer;
}

button:hover,
button:focus {
  background-color: #eee;
}

p {
  margin: 0;
}

.Layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.Layout-video {
  flex: 1;
  background-color: black;
  position: relative;
}

.Layout-video video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Layout-controls {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 10px;
  padding: 6px 12px;
}

.Progress {
  position: relative;
}

.Progress-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: visible;
}

.Progress-line {
  fill: #eee;
}

.Progress-elapsed {
  fill: red;
}

.Toolbar {
  display: flex;
  align-items: center;
}

.Toolbar > * + * {
  margin-left: 10px;
}

.elm-mini-controls {
  transform: translateY(85%);
  transition: transform 200ms;
}

.elm-mini-controls:hover {
  transform: translateY(0);
}
